<h1>Edit institute</h1>
<div class="app-form">
  <% form_for @institute do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Save" %>
  <% end %>
</div>
