<h1>New vacancy</h1>
<%= render :partial => 'shared/notice' %>
<div class="app-form">
  <% form_for [current_company, @vacancy] do |f| %>
    <%= render :partial => 'form', :object => f %>
    <%= f.submit "Add" %>
    |
    <%= link_to 'Cancel', company_vacancies_path(current_company) %>
  <% end %>
</div>
