<h1>New item</h1>
<div class="app-form">
  <% form_for [current_company, @current_competency, @item] do |f| %>
    <%= render :partial => 'form', :object => f %>
    <%= f.submit "Add" %>
    |
    <%= link_to 'Cancel', company_competency_items_path(current_company,@current_competency) %>
  <% end %>
</div>
