<h1>Edit education information</h1>
<div class="app-form">
  <% form_for [current_user, @education] do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Add" %> | <%= link_to 'Cancel', user_educations_path(current_user) %>
  <% end %>
</div>
